.p-paginator {
    display: flex !important;
    flex-direction: row-reverse;
    position: relative;
    margin: 1em 0;
    padding-bottom: 1.5em;
    .p-paginator-current {
        position: absolute;
        left: 0;
    }
    .p-paginator-last {
       position: absolute;
       right: 0;    
    }
    .p-paginator-next {
       position: absolute;
       right: 40px;    
    }
    .p-paginator-pages {
       position: absolute;
       right: 80px;    
    }
    .p-paginator-prev {
       position: absolute;
       right: 120px;    
    }
    .p-paginator-first {
       position: absolute;
       right: 160px;    
    }
}